.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "full full"
    "left right";
  gap: 2rem;
}

.full-line {
  grid-area: full;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}