.App {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header header"
    "planet planet"
    "list detail"
    "list-planet detail-planet"
    "list-ships detail-ship";
  gap: 2rem;
}

.header {
  grid-area: header;
}

.random-planet {
  grid-area: planet;
}

.item-list-component {
  grid-area: list;
}

.person-detail {
  grid-area: detail;
}

.item-list-component:nth-of-type(2) {
  grid-area: list-planet;
}

/* .person-detail:nth-of-type(2) {
  grid-area: detail-planet;
} */

.item-list-component:nth-of-type(3) {
  grid-area: list-ships;
}

/* .person-detail:nth-of-type(3) {
  grid-area: detail-ship;
} */